* {
    height: 100%;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0.5%;
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album div {
    width: 19.5%;
    height: 49%;
}

img {
    margin-top: 1%;
    object-fit: cover;
    width: 100%;
}

@media only screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
    .album div {
        width: 19.5%;
        height: 49%;
    }
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 1024px) {
    .album div {
        width: 24%;
        height: 24%;
    }

    .album div:nth-last-of-type(-n+2) {
        width: 49%;
        height: 50%;
    }
}