.red_div {
    position: fixed;
    background-color: red;
    width: 500px;
    height: 500px;
    z-index: 1;
    left: 28%;
    top: 4%;
}

.green_div {
    position: fixed;
    background-color: #7FFF00;
    width: 500px;
    height: 500px;
    z-index: 3;
    left: 38%;
    top: 22%;
}

.blue_div {
    position: fixed;
    background-color: blue;
    width: 500px;
    height: 500px;
    z-index: 2;
    left: 48%;
    top: 40%;
}