body {
    height: 100%;
}

.background {
    height: 100%;
    width: 100%;
}

.orange_area, .yellow_area, .blue_area, .gray_area {
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
}

.orange_area:after, .yellow_area:after, .blue_area:after, .gray_area:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.orange_area div {
    height: 13vh;
    background-color: orange;
    display: inline-block;
    width: 49.5%;
}

.yellow_area div {
    height: 30vh;
    background-color: yellow;
    display: inline-block;
    width: 100%;
}

.blue_area div{
    height: 25vh;
    background-color: blue;
    display: inline-block;
    width: 32.5%;
}

.gray_area div{
    height: 20vh;
    background-color: darkgray;
    display: inline-block;
    width: 24%;
}