body {
    height: 100%;
}

table {
    width: 100%;
    border-spacing: 0.6vw; 
}

.orange_tbl tr{ 
    background-color: orange;
    height: 13vh;
}

.yellow_tbl tr{
    background-color: yellow;
    height: 30vh;
}

.blue_tbl tr{
    background-color: blue;
    height: 25vh;
}

.darkgray_tbl tr{
    background-color:darkgray;
    height: 20vh;
}