body {
    background-color: black;
}

table {
    width: 100%;
    border-spacing: 1vw;
    margin: -0.6vh;
}

.first-row tr{ 
    background-color: orange;
    height: 10vh;
}

.second-row tr{
    background-color: yellow;
    height: 30vh;
}

.third-row tr{
    background-color: blue;
    height: 25vh;
}

.fourth-row tr{
    background-color:darkgray;
    height: 19vh;
}